
.userguide h1{
    margin-left: 80%;
    }

.information{
    height: 100%;
    width: 100%;
    margin-left: 20%;
    background-color: seashell;
    border-radius: 5px;
    margin-top: 20px;
    margin-top: 5%;
    border-color: 

}


.information h3{
    margin-left: 10px;
    padding: 5px;
}